<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drinkchampioonsapps.drinkchampions" >
    <uses-permission android:name="android.permission.INTERNET" />
<!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
        Google Maps Android API v2, but you must specify either coarse or fine
        location permissions for the 'MyLocation' functionality.
   -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="22" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.RicoPaRico" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1-l3x-GmKKksQHYkjFMsnF-2lG0_z6eo" />
        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.ui.ActividadPrincipal"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer">

        </activity>
        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.ui.ActividadConfiguracion"
            android:label="@string/titulo_actividad_configuracion"
            android:parentActivityName="com.drinkchampioonsapps.drinkchampions.ui.ActividadPrincipal" >

        </activity>
        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.activities.TareasSQLiteActivity"
            android:label="@string/item_sqllite"
            android:parentActivityName="com.drinkchampioonsapps.drinkchampions.ui.ActividadPrincipal"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.ui.Details"
            android:label="@string/item_sqllite"
            android:parentActivityName="com.drinkchampioonsapps.drinkchampions.ui.ActividadPrincipal"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.drinkchampioonsapps.drinkchampions.ui.ActividadPrincipal" />


        </activity>
        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.ui.DetailActivity"
            android:parentActivityName="com.drinkchampioonsapps.drinkchampions.ui.ActividadPrincipal">

        </activity>
        <activity android:name="com.drinkchampioonsapps.drinkchampions.activities.BookDetailActivity"


            android:label="@string/app_name"
            android:theme="@style/AppTheme"



            />
        <activity android:name="com.drinkchampioonsapps.drinkchampions.activities.BookListActivity"
            android:theme="@style/AppTheme"/>



        <activity android:name="com.drinkchampioonsapps.drinkchampions.activities.SavedRestaurantListActivity">
        </activity>



        <activity android:name="com.drinkchampioonsapps.drinkchampions.activities.SplashActivity"
            android:theme="@style/SplashTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.activities.ChooserActivity"
            android:label="@string/twitter"
            android:theme="@style/AppTheme"
            android:icon="@mipmap/ic_launcher">
        </activity>
        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.activities.TwitterActivity"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="49e77386316e679b5337265dc4e6eb6ed2f3d272" />

        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.activities.LoginActivity">
        </activity>


        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.ui.LiteDemoActivity">
        </activity>





        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>



        <activity
            android:name="com.drinkchampioonsapps.drinkchampions.activities.StreetViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>


    <activity android:name="com.drinkchampioonsapps.drinkchampions.ui.crudfilebase"/>





    </application>

</manifest>
